
@font-face {
    font-family: 'BN Times Gothic';
    src: url(./fonts/BNTimesGothic.otf) format("opentype");
}

* {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family: Helvetica;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

header {
    padding: 20px;
    top: 0px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#canvCont {
    position: absolute;
    top: 0px;
    z-index: -1;
}

h1 {
    font-family: 'BN Times Gothic';
    text-transform:uppercase;
    font-size: 45px;
    color: black
}

h3 {
    font-family: 'BN Times Gothic';
    font-size: 24px;
}

button {
    text-transform: uppercase;
    font-weight: 100;
}

form {
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    width: 400px;
}

form > h3 {
    margin: 10px;
}

form > input {
    padding: 10px;
    margin: 5px 10px 5px 10px;
    text-transform: uppercase;
    font-weight: 100;
}

form > button {
    margin: 5px 10px 5px 10px;
    padding: 10px;
}

.cont {
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


a:visited {
    color: black;
}







/* NEW PLOT POP UP STYLING */

#newPlotPopUp {
    position: absolute;
    display: flex;
    width: 60px;
    flex-wrap: wrap;
}

.plotPopUpSpacer {
    width: 20px;
    height: 20px;
}

.plotOption {
    width: 20px;
    height: 20px;
    background-color: rgb(50,50,50);
    border: 1px solid rgb(30,30,30);
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

.plotOption:hover{
    background-color: yellow;
}