* {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family: Helvetica;
    text-decoration: none;
}

body {
    margin: 0px;
}

header {
    padding: 20px;
    top: 0px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#canvCont {
    position: absolute;
    top: 0px;
    z-index: -1;
}

h1 {
    font-family: 'Bungee';
    text-transform:uppercase;
    font-size: 45px;
}

a:visited {
    color: black;
}