
@font-face {
    font-family: 'BN Times Gothic';
    src: url(./fonts/BNTimesGothic.otf) format("opentype");
}

* {
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: 100;
}

body {
    margin: 0px;
    background-color: #94e8ff;
}

header {
    padding: 20px;
    top: 0px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#canvCont {
    position: absolute;
    top: 0px;
    z-index: -1;
}


.canvasParent .plotNameDiv {
    font-family: 'Chakra Petch', sans-serif;
    visibility: hidden;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    /* margin-left: 32rem; */
    margin-top: 3rem;
    color: cornsilk;
    

}

.canvasParent:hover .plotNameDiv {
    visibility: visible;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    /* text-transform:uppercase; */
    font-size: 45px;
    color: rgb(50,50,50);
}

h3 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
}

button {
    text-transform: uppercase;
    font-weight: 100;
    cursor: pointer;
    border: none;
    background-color: rgb(50,50,50);
    border-radius: 5px;
    color: #94e8ff;
}

#x:hover {
    cursor: pointer;
}

#plotNameFlex {
    display: flex;
    justify-content: center;
    width: 100vw;
}

#editorName {
    color: black;
    font-family: 'Chakra Petch', sans-serif;
    font-size: auto;
    font-weight: bolder;
    text-align: center;
    border-radius: 5px;
    width: auto;
    margin: 20px;
    background-color: rgb(180, 180, 180, 0.2);
}

#plotNameText {
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    width: 400px;
}

form > h3 {
    margin: 10px;
}

form > input {
    padding: 10px;
    margin: 5px 10px 5px 10px;
    /* text-transform: uppercase; */
    font-weight: 100;
}

form > button {
    margin: 5px 10px 5px 10px;
    padding: 10px;
}

form > p {
    margin: 10px;
}

.header {
    /* background-color: rgb(180, 180, 180, 0.2); */
}

#loginCont {
    display: flex;
    flex-direction: row;
    /* width: 400px */
}

.loginSignUpButtons {
    background-color: rgb(50,50,50);
    border: 2px solid rgba(0,0,0,0);
    color: #94e8ff;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    margin: 0px 5px 0px 5px;
}

.loginSignUpButtons:hover {
    background-color: #94e8ff;
    color: rgb(50,50,50);
    border: 2px solid rgb(50,50,50);
}

.cont {
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexSpacer {
    flex-grow: 1;
    padding: 10px;
}


a:visited {
    /* color: black; */
}


/* user tool button styling */

#userTools {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 20px;
}

.toolButtonContainer {
    width: 40px;
    height: 40px;
    /* padding: 8px; */
    margin: 5px;
    background-color: rgb(50,50,50);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer
}

.toolButton {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 500;
    text-transform: lowercase;
    position: relative;
    padding: 8px;
    margin: 8px;
    border: none;
    width: 100%;
    height: 100%;


}

.toolButtonContainer .tooltiptext {
    font-family: 'Chakra Petch', sans-serif;
    visibility: hidden;
    width: 120px;
    background-color: rgb(180, 180, 180, 0.2);
    color:black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px;
    top: -5px;
    left: 80%;
    margin-left: -60px;
    padding: 4px;
}

.toolButtonContainer:hover {
    background-color: red;
}

.usertoolButtons {
    margin-left: 20px;
}

.plotButtons {
    font-family: 'Chakra Petch', sans-serif;
    float: right;
    font-weight: 500;
    margin-right: 20px;
    text-transform: lowercase;
    padding: 8px;
}

/* .buttonImage {
    background-image: url(../public/assets/images/simpleRoadButton.png);
    background-position: center;
} */

.buttonImage {
    width: 80px;
    height: auto;
}

#reactButtons {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0px;
    margin: 20px;
}

#reactButtons > button {
    text-transform: uppercase;
    margin: 4px;

}

.toolButtonContainer:hover .tooltiptext {
    visibility: visible;
}

/* Building Color Things */

#colorCont {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 12px;
    border-radius: 10px;
    background-color: rgb(50,50,50);
}

#colorCont > label {
    color: white;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 100;
    margin: 10px 0px 2px 0px;
}

#paintColorInput {
    width: 100%;
    border: none;
    border-radius: 2px;
}



/* NEW PLOT POP UP STYLING */

#newPlotPopUp {
    position: absolute;
    display: flex;
    width: 100px;
    flex-wrap: wrap;
    display: none;
    padding: 20px;
}

.plotPopUpSpacer {
    width: 20px;
    height: 20px;
}

.plotOption {
    width: 20px;
    height: 20px;
    background-color: rgb(50,50,50);
    border: 1px solid rgb(30,30,30);
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
}

.plotOption:hover{
    background-color: yellow;
}




/* MODAL STYLING */

.modalCont {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: rgb(50,50,50);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.modal > * {
    margin: 5px;
}

.modal  h5 {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 500;
    color: #94e8ff;
}

h5 {
    font-size: 24px;
}

.modal > input {
    padding: 12px;
    border-radius: 5px;
    border: none;
}

.modal > button {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    background-color: #94e8ff;
    padding: 5px;
    color:rgb(50,50,50)
}

.modalHeader {
    width: 100%;
    display: flex;
}

.modalHeader > * {
    flex-grow: 1;
}

.modalQuit {
    max-width: 20px;
    background-color: none;
    border: 1px solid black;
    padding: 3px;
    border-radius: 5px;
    float: right;
    justify-self: flex-end;
}


/* INFO MODAL */

.infoModalCont {
    color: white;
    width: 200px;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 10px;
}

.infoModalCont > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid white;
}

.infoModalCont > div > h5 {
    font-family: 'Chakra Petch';
    font-size: 12px;
}

.infoModalCont > p {
    padding: 5px;
    font-family: 'Helvetica';
    margin-top: 10px;
}

/* TIP POPUP STYLING */

.tipContainer {
    position: absolute;
    background-color: rgb(50,50,50);
    padding: 10px;
    border-radius: 5px;
}

.tipContainer > p {
    color: white;
    font-size: 12px;
}


/* responsive sizing */

@media screen and (max-width: 568px) {
    .header,  .main, .body  {
        width: 100%;
    }

    #userTools {
        width: 20%;
    }

    .modal {
       width: 40%;
    }

    h5 {
        font-size: 15px;
    }
}

@media screen and (max-width: 640px)  {
    .main, .header, .body {
      width: 100%; 
    }

    #userTools {
        flex-direction: row;
        flex-wrap: wrap;
        width: 200px;
    }
}

@media screen and (max-width: 653px)  {
    .main, .header, .body {
      width: 100%; 
    }

    h5 {
        font-size: 12px;
    }
}

@media screen and (max-width: 731px) {
    .header,  .main, .body {
        width: 100%;
    }
}

@media screen and (max-width: 812px) {
    .header,  .main, .body {
        width: 100%;
    }
}

@media screen and (max-width: 823px) {
    .header,  .main, .body {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .header,  .main, .body {
        width: 100%;
    }
}

@media screen and (max-width: 1366px) {
    .header,  .main, .body {
        width: 100%;
    }
}