
@font-face {
    font-family: 'BN Times Gothic';
    src: url(./fonts/BNTimesGothic.otf) format("opentype");
}

* {
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: 100;
}

body {
    margin: 0px;
}

header {
    padding: 20px;
    top: 0px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#canvCont {
    position: absolute;
    top: 0px;
    z-index: -1;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    /* text-transform:uppercase; */
    font-size: 45px;
    color: white;
}

h3 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
}

button {
    text-transform: uppercase;
    font-weight: 100;
    cursor: pointer;
}

#x:hover {
    cursor: pointer;
}

#plotNameFlex {
    display: flex;
    justify-content: center;
    width: 100vw;
}

#editorName {
    color: green;
    font-family: 'Chakra Petch', sans-serif;
    font-size: auto;
    font-weight: bolder;
    text-align: center;
    border-radius: 5px;
    width: auto;
    background-color: rgb(180, 180, 180, 0.2);
}

#plotNameText {
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    width: 400px;
}

form > h3 {
    margin: 10px;
}

form > input {
    padding: 10px;
    margin: 5px 10px 5px 10px;
    /* text-transform: uppercase; */
    font-weight: 100;
}

form > button {
    margin: 5px 10px 5px 10px;
    padding: 10px;
}

form > p {
    margin: 10px;
}

.header {
    background-color: rgb(180, 180, 180, 0.2);
}

.cont {
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexSpacer {
    flex-grow: 1;
    padding: 10px;
}


a:visited {
    /* color: black; */
}


/* user tool button styling */
.toolButton {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 500;
    text-transform: lowercase;
    position: relative;
    padding: 8px;
}

.toolButton .tooltiptext {
    font-family: 'Chakra Petch', sans-serif;
    visibility: hidden;
    width: 120px;
    background-color: rgb(180, 180, 180, 0.2);
    color:black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    padding: 4px;
}

.toolButton:hover .tooltiptext {
    visibility: visible;
}

.usertoolButtons {
    margin-left: 20px;
}

.plotButtons {
    font-family: 'Chakra Petch', sans-serif;
    float: right;
    font-weight: 500;
    margin-right: 20px;
    text-transform: lowercase;
    padding: 8px;
}

/* .buttonImage {
    background-image: url(../public/assets/images/simpleRoadButton.png);
    background-position: center;
} */



/* NEW PLOT POP UP STYLING */

#newPlotPopUp {
    position: absolute;
    display: flex;
    width: 100px;
    flex-wrap: wrap;
    display: none;
    padding: 20px;
}

.plotPopUpSpacer {
    width: 20px;
    height: 20px;
}

.plotOption {
    width: 20px;
    height: 20px;
    background-color: rgb(50,50,50);
    border: 1px solid rgb(30,30,30);
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
}

.plotOption:hover{
    background-color: yellow;
}




/* MODAL STYLING */

.modalCont {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.modal > * {
    margin: 5px;
}

.modal > h5 {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.modal > input {
    padding: 5px;
}

.modal > button {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 500;
}

.modalHeader {
    width: 100%;
    display: flex;
}

.modalHeader > * {
    flex-grow: 1;
}

.modalQuit {
    max-width: 20px;
    background-color: none;
    border: 1px solid black;
    padding: 3px;
    border-radius: 5px;
    float: right;
    justify-self: flex-end;
}

/* TIP POPUP STYLING */

.tipContainer {
    position: absolute;
    background-color: rgb(50,50,50);
    padding: 10px;
    border-radius: 5px;
}

.tipContainer > p {
    color: white;
    font-size: 12px;
}


/* responsive sizing */

@media screen and (max-width: 800px) and (min-width: 300px) {
    .main, .header, .body {
      width: 100%; 
    }
}

/* @media screen and (max-width: 400px) {
    .left, .main, .right {
        width: 100%;
    }
} */